#######################
####### COMMONS #######
#######################

ansible_user_id:

#######################
### ALEXANDRIA LOCAL ##
#######################

upload_alexandria_built_jar_path:

#######################
## ALEXANDRIA REMOTE ##
#######################

upload_alexandria_path:
upload_alexandria_jar:
upload_alexandria_jar_old:

#######################
#### ALEXANDRIA DB ####
#######################

alexandria_db_username:
alexandria_db_password:
alexandria_db_name:
alexandria_db_server: